@media (max-width: 867px) {
  #header.container {
    padding-inline: 40px;
  }
  .container {
    padding-inline: 40px;
  }
  .main-text h1 {
    width: 350px;
  }
  .main-text p {
    width: 370px;
  }

  .main img {
    max-width: 210px;
  }
}

@media (max-width: 690px) {
  .main {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }
  .main-text {
    align-items: center;
  }
  .header nav {
    display: none;
  }
  .burger-menu {
    display: flex;
    justify-content: flex-end;
  }
  .main img {
    max-width: 200px;
  }
}

@media (max-width: 641px) {
  #header{
    padding-block: 15px;
  }
  .main-text h1 {
    width: 330px;
  }
  .main-text p {
    width: 230px;
  }
  .main-text{
    gap: 10px;
}
.main img{
  max-width: 150px;
}
.main-text button{
  padding: 5px 8px;
  font-size: 12px;
}
.main{
  gap: 20px;
}
}
